@(message: String)
@import helper._

@main("Login E-Valuation"){

<!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
      </div>
    </div>

  
  <header id="overview" class="jumbotron subhead">
    <div class="container">
      <h1>E-Valuation</h1>
    </div>
  </header>

  <div class="container">
    <div class="row-fluid">
      <div class="span7">
        <form class="form-signin" role="form" action="@routes.Application.logon()" method="post" >
            <h2 class="form-signin-heading">Login</h2>
            <input type="email" class="form-control" placeholder="E-mail" required autofocus>
            <input type="password" class="form-control" placeholder="Senha" required>
            <label class="checkbox">
              <input type="checkbox" value="remember-me"> Lembre-me
            </label>
            <button class="btn btn-primary btn-large" type="submit">Logar</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Footer
    ================================================== -->
  <footer class="footer">
    <div class="container">
      <p class="pull-right"><a href="#">Voltar ao topo</a></p>
      <p align="center">Todos direitos reservados à E-Valuation</p>
    </div>
  </footer>
</body>

</html>


}