<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Evaluation Main</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    
    <link rel="stylesheet" href="../../public/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/bootstrap/css/bootstrap-responsive.css">

    <link rel="stylesheet" href="../../public/stylesheets/docs.css">
    <link rel="stylesheet" href="../../public/stylesheets/prettify.css">
    
</head>

<body>

  <header id="overview" class="jumbotron subhead">
    <div class="container">
      <h1>Evaluation</h1>
    </div>
  </header>
  

  <!-- Navbar
  ================================================== -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <p class="brand">Nome do usuário</p>

        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="">
              <a href="main.html"><i class="icon-home icon-white"></i> Inicial</a>
            </li>
            <li class="">
              <a href=""><i class="icon-user icon-white"></i> Usuário</a>
            </li>
            <li class="">
              <a href="minhasEnquetes"><i class="icon-star icon-white"></i> Minhas enquetes</a>
            </li>
            <li class="">
              <a href=""><i class="icon-wrench icon-white"></i> Opções</a>
            </li>
            <li class="">
              <a href=""><i class="icon-off icon-white"></i> Deslogar</a>
            </li>
            
            <form action="" class="navbar-search pull-left">
              <input type="text" placeholder="Buscar" class="search-query span2">
            </form>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container row offset1">
    <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 2.2.2']);" class="btn btn-primary btn-large" 
    href="novaEnquete.html"> 
      <i class="icon-bookmark icon-white"></i>Nova enquete
    </a>
  
  </div>

  <div class="container row offset1">
    
    <div class="page-header">
          <h1>Enquetes abertas</h1>
    </div>
    
    <ul class="nav nav-tabs" id="tab">
      <li class="active"><a data-toggle="tab" href="#ultimas">Últimas enquetes</a></li>
      <li><a data-toggle="tab" href="#acessadas">Mais acessadas</a></li>
      <li><a data-toggle="tab" href="#comentadas">Mais comentadas</a></li>
    </ul>

      <div class="tab-content" id="myTabContent">
        <div id="ultimas" class="tab-pane fade active in">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td><a href="#" ><h4 class="text-info">Curso de Engenharia é bom?</h4></a></td>
              </tr>
              <tr>
                <td><a href="#" ><h4 class="text-info">Curso de Engenharia é bom?</h4></a></td>
              </tr>
              <tr>
                <td><a href="#" ><h4 class="text-info">Curso de Engenharia é bom?</h4></a></td>
              </tr>
              <tr>
                <td><a href="#" ><h4 class="text-info">Curso de Engenharia é bom?</h4></a></td>
              </tr>
              <tr>
                <td><a href="#" ><h4 class="text-info">Curso de Engenharia é bom?</h4></a></td>
              </tr>
          </table>
        </div>
        <div id="acessadas" class="tab-pane fade">
         <table class="table table-hover">
            <tbody>
              <tr>
                <td><a href="#" ><h4 class="text-info">Curso?</h4></a></td>
              </tr>
              <tr>
                <td><a href="#" ><h4 class="text-info">Curso?</h4></a></td>
              </tr>
              <tr>
                <td><a href="#" ><h4 class="text-info">Curso?</h4></a></td>
              </tr>
              <tr>
                <td><a href="#" ><h4 class="text-info">Curso?</h4></a></td>
              </tr>
              <tr>
                <td><a href="#" ><h4 class="text-info">Curso?</h4></a></td>
              </tr>
          </table>
        </div>
        <div id="comentadas" class="tab-pane fade">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td><a href="#" ><h4 class="text-info">Curso é bom?</h4></a></td>
              </tr>
              <tr>
                <td><a href="#" ><h4 class="text-info">Curso é bom?</h4></a></td>
              </tr>
              <tr>
                <td><a href="#" ><h4 class="text-info">Curso é bom?</h4></a></td>
              </tr>
              <tr>
                <td><a href="#" ><h4 class="text-info">Curso é bom?</h4></a></td>
              </tr>
              <tr>
                <td><a href="#" ><h4 class="text-info">Curso é bom?</h4></a></td>
              </tr>
          </table>
        </div>
              
      </div>
  </div>



  <!-- Footer
  ================================================== -->
  <footer class="footer">
    <div class="container">
      <p class="pull-right"><a href="#">Voltar ao topo</a></p>
      <p align="center">Todos direitos reservados à Evaluation</p>
    </div>
  </footer>
  

  <script src="../../public/bootstrap/js/jquery.js"></script>
  <script src="../../public/bootstrap/js/bootstrap-collapse.js"></script>
  <script src="../../public/bootstrap/js/bootstrap-tab.js"></script>
  <script type="text/javascript">
    $('#tab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    })
  </script>
</body>

</html>