<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Evaluation Main</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    
    <link rel="stylesheet" href="../../public/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/bootstrap/css/bootstrap-responsive.css">

    <link rel="stylesheet" href="../../public/stylesheets/docs.css">
    <link rel="stylesheet" href="../../public/stylesheets/prettify.css">
    
</head>

<body>

  <header id="overview" class="jumbotron subhead">
    <div class="container">
      <h1>Evaluation</h1>
    </div>
  </header>
  

  <!-- Navbar
  ================================================== -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <p class="brand">Nome do usuário</p>

        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="">
              <a href="main.html"><i class="icon-home icon-white"></i> Inicial</a>
            </li>
            <li class="">
              <a href=""><i class="icon-user icon-white"></i> Usuário</a>
            </li>
            <li class="">
              <a href="minhasEnquetes"><i class="icon-star icon-white"></i> Minhas enquetes</a>
            </li>
            <li class="">
              <a href=""><i class="icon-wrench icon-white"></i> Opções</a>
            </li>
            <li class="">
              <a href=""><i class="icon-off icon-white"></i> Deslogar</a>
            </li>
            
            <form action="" class="navbar-search pull-left">
              <input type="text" placeholder="Buscar" class="search-query span2">
            </form>
            
          </ul>
        </div>
      </div>
    </div>
  </div>

<div class="container">
    <form role="form">
      <h2 class="form-signin-heading">Nova enquete</h2>
      <div class="form-group">
        <label for="Cursos">Cursos</label>
        <select name="cursos" id="cursos" class="form-control">
          <option value="Engenharia Civil">Engenharia Civil</option>
          <option value="Sistemas de Informação">Sistemas de Informação</option>
          <option value="Ciência da Computação">Ciência da Computação</option>
          <option value="Engenharia da Computação">Engenharia da Computação</option>
          <option value="Administração">Administração</option>
          <option value="Outros Cursos">Outros Cursos</option>
        </select>
      </div>
      <div class="form-group">
        <label for="Cadeiras">Cadeiras</label>
        <select name="cadeiras" id="cadeiras" class="form-control">
          <option value="Introdução a Sistemas de Informação">Introdução a Sistemas de Informação</option>
          <option value="Introdução a Ciência da Computação">Introdução a Ciência da Computação</option>
          <option value="Introdução a Engenharia da Computação">Introdução a Engenharia da Computação</option>
          <option value="Outros Cursos">Outros Cursos</option>
        </select>
      </div>
      <div class="form-group">
        <label for="Tema">Tema</label>
        <input type="text" class="form-control" id="tema" placeholder="Insira o tema" style=" width: 800px">
      </div>
      <div class="form-group">
        <label for="Descricao">Descrição</label>
        <input type="text" class="form-control" id="descricao" placeholder="Escreva a descrição" style=" width: 1000px">
      </div>
    
      <button type="submit" class="btn btn-default"><i class="icon-ok icon-black"></i> Finalizar</button>
    </form>
  </div>


<footer class="footer">
    <div class="container">
      <p class="pull-right"><a href="#">Voltar ao topo</a></p>
      <p align="center">Todos direitos reservados à Evaluation</p>
    </div>
  </footer>

</body>

</html>