@(message: String)
@import helper._

@main("Cadastro E-Valuation"){

<!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
      </div>
    </div>

  <header id="overview" class="jumbotron subhead">
    <div class="container">
      <h1>E-Valuation</h1>
    </div>
  </header>

<div class="container">
    <form role="form" action="@routes.Application.addUser()" method="post" >
      <h2 class="form-signin-heading">Cadastro</h2>
      <div class="form-group">
        <label for="Nome">Nome Completo</label>
        <input type="text" class="form-control" id="nome" placeholder="Insira o nome" style=" width: 800px">
      </div>
      <div class="form-group">
        <label for="CPF">CPF</label>
        <input type="text" class="form-control" id="cpf" placeholder="Insira o CPF" style=" width: 200px">
      </div>
      <div class="form-group">
        <label for="Email">E-mail</label>
        <input type="email" class="form-control" id="email" placeholder="Insira seu e-mail" style=" width: 400px">
      </div>
      <div class="form-group">
        <label for="Senha">Senha</label>
        <input type="password" class="form-control" id="senha" placeholder="Insira sua senha" style=" width: 300px">
      </div>
      
      <button type="submit" class="btn btn-default">Cadastrar</button>
    </form>
</div>

<!-- Footer
  ================================================== -->
  <footer class="footer">
    <div class="container">
      <p class="pull-right"><a href="#">Voltar ao topo</a></p>
      <p align="center">Todos direitos reservados à E-Valuation</p>
    </div>
  </footer>
	
}